doctype html
html
  head
    title= 'The Daily Quip'
    link(rel='stylesheet', href='/styles/style.css')
  body
    block content
      div.heading1
        h1= 'The Daily Quip'
      div.input_box 
        form(action="../routes" method="POST" name="quipinput")
          button( type='submit' onclick='../routes/quip/getprompt')Get Prompt 
          input.quip-text(id='quiptext' type='text' placeholder='Something Quippy')
          input.quip-submit(name="submit" type='submit')
